extends ../layout/main

block variables
    - var title = 'Frontend Task';
    - var pageClass = 'index-page';

block content
    section.iceberg
        img.iceberg__background(src='assets/img/more.png', alt='Верхушка айсберга')
        h1.iceberg__header Всегда ли цели терапии СД2 на поверхности?
        +circles('head','Цель по HbA1c')
        +circles('left','Гипогликемия')
        +circles('right','СС риски')
        +circles('bottom','Осложнения СД')

block root
    section.iceberg-root
        img.iceberg-root__background(src='assets/img/root.png', alt='Основание айсберга')
        h1.iceberg-root__header Основа терапии - патогенез СД2
        - for (var x = 1; x <= 4; x++)
            img(src='/assets/img/ice'+x+'.png', class="iceberg-root__ice"+x, alt='Изображение льдышки'+x)

block underworld
    section.iceberg-underworld
        img.iceberg-underworld__background(src='/assets/img/underworld.png', alt='Изображение глубин')
        h1.iceberg-underworld__header Звенья патогенеза СД2
        - for (var x = 5; x <= 7; x++)
            img(src=`/assets/img/ice${x}.png`, class=`iceberg-underworld__ice${x}`, alt=`Изображение льдышки${x}`)
        .iceberg-underworld-content

            .iceberg-underworld-content-left
                .iceberg-underworld-circle.mb3.circleDark
                    h2.iceberg-underworld-circle__header-left <span>8</span> Микрофлора кишечника
                    img(src=`assets/img/kish.png`, class='iceberg-underworld-circle__img-kish')
                .iceberg-underworld-circle.circleLight
                    h2.iceberg-underworld-circle__header-left <span>9</span> Нарушение имунной регуляции/воспаление
                    img(src=`assets/img/infection.png`, class='iceberg-underworld-circle__img-infection')
                p.iceberg-underworld-content-left__text &darr; амилин
                .iceberg-underworld-content-left-arrows
                    - for (var x=1; x <=8; x++)
                        img(src=`assets/img/RectangleL${x}.png`, class=`iceberg-underworld-content-left-arrows__arrow${x}`)
                .iceberg-underworld-circle.circleLight
                    h2.iceberg-underworld-circle__header-left <span>10</span> Желудок
                    img(src=`/assets/img/stomach.png`, class='iceberg-underworld-circle__img-stomach')

            .iceberg-underworld-content-middle
                .iceberg-underworld-circle_big.mt4.circleDark
                    h2.iceberg-underworld-circle__text-top <span>1</span>&beta; - клетки
                    p.iceberg-underworld-circle_big__text-center &beta;
                .middle-bloc
                    .middle-bloc-left
                        img(src='assets/img/RectangleML1.png', class="middle-bloc-left__arrow1")
                        p.middle-bloc-left__number 2
                        p.middle-bloc-left__text &darr; инкретинового эффекта
                        img(src='assets/img/RectangleML1.png', class="middle-bloc-left__arrow2")
                    .middle-bloc-mid
                        img(src='assets/img/RectangleLong.png', class="middle-bloc-mid__arrow")
                    .middle-bloc-right
                        img(src='assets/img/RectangleML1.png', class="middle-bloc-right__arrow1")
                        p.middle-bloc-right__number 3
                        p.middle-bloc-right__text Дефект &alpha;-клеток
                        img(src='assets/img/RectangleTiny.png', class="middle-bloc-right__arrow2")
                        p.middle-bloc-right__text_sm &uarr; глюкагон
                        img(src='assets/img/RectangleSmall.png', class="middle-bloc-right__arrow3")
                .middle-bottom
                    h2.middle-bottom__text Гипергликемия
                    .middle-bottom-arrows
                       img(src='assets/img/RectangleMB1.png', class="middle-bottom-arrows__arrowUp")
                       img(src='assets/img/RectangleMB2.png', class="middle-bottom-arrows__arrowDown") 
                .iceberg-underworld-circle.mr7.circleDark
                    h2.iceberg-underworld-circle__header-left.mt3 <span>11</span> Почки
                    img(src=`assets/img/lipid.png`, class='iceberg-underworld-circle__img-lipid')

            .iceberg-underworld-content-right
                .iceberg-underworld-circle.mt8.ml-4.circleDark
                    h2.iceberg-underworld-circle__header-right.mt3 <span>7</span> Головной мозг
                    img(src=`assets/img/brain.png`, class='iceberg-underworld-circle__img-brain')
                .iceberg-underworld-content-right-arrows
                    - for(var x=1; x<=4; x++)
                        img(src=`/assets/img/RectangleR${x}.png`, class=`iceberg-underworld-content-right-arrows__arrow${x}`)
                    img(src='assets/img/RectangleMB1.png', class="iceberg-underworld-content-right-arrows__arrowUp")
                    img(src='assets/img/RectangleMB2.png', class="iceberg-underworld-content-right-arrows__arrowDown") 
                .iceberg-underworld-content-right-table.ml-5
                    .iceberg-underworld-content-right-table-insideGrad
                        h2.iceberg-underworld-content-right-table__text Инсулинорезистентность
                        .iceberg-underworld-circle.mb2.ml1.circleLight
                            h2.iceberg-underworld-circle__header-right.mt3 <span>6</span> Печень
                            img(src=`assets/img/Capa.png`, class='iceberg-underworld-circle__img-capa')
                        .iceberg-underworld-circle.mb2.ml1.circleLight
                            h2.iceberg-underworld-circle__header-right.mt3 <span>5</span> Мышцы
                            img(src=`assets/img/musle.png`, class='iceberg-underworld-circle__img-muscle')
                        .iceberg-underworld-circle.ml1.circleLight
                            h2.iceberg-underworld-circle__header-right.mt3 <span>4</span> Жировые клетки
                            img(src=`assets/img/fat.png`, class='iceberg-underworld-circle__img-fat')
